<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c811583b-f5cc-4274-9aa9-f4ae01a3cbfa&lang=ru_RU" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Debug</title>
    <style>
        #map {
            margin: 50px auto;
        }
    </style>
</head>
<body>

<div id="map" style="width: 800px; height: 800px"></div>

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
 // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
 ymaps.ready(init);

 function init() {
     // Создание карты.
     var myPlacemark,
         myMap = new ymaps.Map("map", {            
             center: [48.76, 44.55],             
             zoom: 15
         }, {
             minZoom: 14,
             maxZoom: 18
         });

     //var tileUrlTemplate = 'datalayer/?x=%x&y=%y&z=%z',

     var tileUrlTemplate = 'datalayer/?z=%z&t=%t',         
         keyTemplate = 'addrs_%c',         
         imgUrlTemplate = 'hotspot_layer/images/%z/tile_x=%x&y=%y.png',
         objSource = new ymaps.hotspot.ObjectSource(tileUrlTemplate, keyTemplate),         
         imgLayer = new ymaps.Layer(imgUrlTemplate, {tileTransparent: true}),
         hotspotLayer = new ymaps.hotspot.Layer(objSource, {
             cursor: 'help'
         });

     var loadingObjectManager = new ymaps.LoadingObjectManager(tileUrlTemplate, {
         // Включаем кластеризацию.
         clusterize: true,
         clusterHasBalloon: true,
         geoObjectOpenBalloonOnClick: true
     });
    
     myMap.layers.add(hotspotLayer);    
     myMap.geoObjects.add(loadingObjectManager);

 }
</script>

</body>
</html>