<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c811583b-f5cc-4274-9aa9-f4ae01a3cbfa&lang=ru_RU" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Debug</title>

	<style>
        #map {
            margin: 50px auto;
			max-width:800px;
			height:800px;
			width:100%;
        }
		.outercluster {
	position: absolute;
	left: -25px;
	top: -25px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	border: 0;
	padding-top: 2px;
}

.cluster {
font-family:'Arial';
	border-radius: 50%;
	width: 46px;
	height: 40px;
	background: #FFFFFF;
	border: 6px solid #1e98ff;
	text-align: center;
	padding-top: 5px;
	margin-left: 2px;
    line-height:2.2;
}
    </style>
</head>
<body>

<div id="map"></div>

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
 // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
 ymaps.ready(init);

 function init() {
     // Создание карты.
     var myMap = new ymaps.Map("map", {
             center: [48.76, 44.55],             
             zoom: 15
         }, {
             minZoom: 14,
             maxZoom: 18
         });

     //var tileUrlTemplate = 'datalayer/?x=%x&y=%y&z=%z',
// MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
 //           '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
 //       );
     var tileUrlTemplate = 'datalayer/?z=%z&t=%t',
        loadingObjectManager = new ymaps.LoadingObjectManager(tileUrlTemplate, {
        
		 clusterize: true,
		 preset: 'islands#invertedVioletClusterIcons',
		 //
        clusterIconLayout:  ymaps.templateLayoutFactory.createClass('<div class="outercluster"><div class="cluster" id="counter-$[id]"></div></div>',{
			build: function () {
				this.constructor.superclass.build.call(this);
				i=0;
				for(o in this.getData().properties.geoObjects)
				{
					i+=parseInt(this.getData().properties.geoObjects[o].properties.iconContent);
					MyIconContentLayout = ymaps.templateLayoutFactory.createClass('<div style="color: #FFFFFF; font-weight:bold;">$[properties.iconContent]</div>');
				}
				document.getElementById('counter-'+this.getData().id).innerHTML = i;
			}
		}),
		clusterIconShape: {
			type: 'Circle',//максимально похоже на islands#orangeClusterIcons
			coordinates: [0, 0],
			radius: 25//в зависимости от css размеров
		},	    
		 //
         
         clusterHasBalloon: true,
         geoObjectOpenBalloonOnClick: true
     });

     myMap.geoObjects.add(loadingObjectManager);

 }
</script>

</body>
</html>