<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c811583b-f5cc-4274-9aa9-f4ae01a3cbfa&lang=ru_RU" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Debug</title>
    <style>
        #map {
            margin: 50px auto;
        }
    </style>
</head>
<body>

<div id="map" style="width: 800px; height: 800px"></div>

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myPlacemark,
            myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            // center: [48.72, 44.51],
            center: [48.76, 44.55],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 15
        },{
            minZoom: 14,
            maxZoom: 18
        });

        var tileUrlTemplate = 'datalayer/?x=%x&y=%y&z=%z',
var loadingObjectManager = new ymaps.LoadingObjectManager(tileUrlTemplate, {   
    // Включаем кластеризацию.
    clusterize: true,
    // Зададим опции кластерам.
    // Опции кластеров задаются с префиксом cluster.
    clusterHasBalloon: false,
    // Опции объектов задаются с префиксом geoObject.
    geoObjectOpenBalloonOnClick: false
});
        // Шаблон callback-функции, в которую сервер будет оборачивать данные тайла.
        // Пример callback-функции после подстановки - 'testCallback_tile_x_1_y_2_z_9'.
        keyTemplate = 'addrs_%c',
        // Создадим источник данных слоя активных областей.
        imgUrlTemplate = 'hotspot_layer/images/%z/tile_x=%x&y=%y.png',
        objSource = new ymaps.hotspot.ObjectSource(tileUrlTemplate, keyTemplate),
        // Создаем картиночный слой и слой активных областей.
        imgLayer = new ymaps.Layer(imgUrlTemplate, {tileTransparent: true}),
        hotspotLayer = new ymaps.hotspot.Layer(objSource, {cursor: 'help'});

        // Добавляем слои на карту.
        myMap.layers.add(hotspotLayer);
        myMap.layers.add(imgLayer);
myMap.geoObjects.add(loadingObjectManager);
        myMap.events.add('click', function (e) {
            var coords = e.get('coords');

            // Если метка уже создана – просто передвигаем ее.
            if (myPlacemark) {
                myPlacemark.geometry.setCoordinates(coords);
            }
            // Если нет – создаем.
            else {
                myPlacemark = createPlacemark(coords);
                myMap.geoObjects.add(myPlacemark);
                // Слушаем событие окончания перетаскивания на метке.
                myPlacemark.events.add('dragend', function () {
                    getAddress(myPlacemark.geometry.getCoordinates());
                });
            }
            console.log(coords);
            getAddress(coords);
        });

        // Создание метки.
        function createPlacemark(coords) {
            return new ymaps.Placemark(coords, {
                iconCaption: 'поиск...'
            }, {
                preset: 'islands#violetDotIconWithCaption',
                draggable: true
            });
        }

        // Определяем адрес по координатам (обратное геокодирование).
        function getAddress(coords) {
            myPlacemark.properties.set('iconCaption', 'поиск...');
            ymaps.geocode(coords).then(function (res) {
                var firstGeoObject = res.geoObjects.get(0);
                console.log(firstGeoObject);

                myPlacemark.properties
                    .set({
                        // Формируем строку с данными об объекте.
                        // iconCaption: [
                        //     // Название населенного пункта или вышестоящее административно-территориальное образование.
                        //     firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                        //     // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                        //     firstGeoObject.getThoroughfare() || firstGeoObject.getPremise(),
                        //     firstGeoObject.getAddressLine()
                        // ].filter(Boolean).join(', '),
                        iconCaption: firstGeoObject.geometry._coordinates.join(', '),
                        // В качестве контента балуна задаем строку с адресом объекта.
                        // balloonContent: firstGeoObject.getAddressLine()
                        balloonContent: firstGeoObject.geometry._coordinates.join(', ')
                    });
            });
        }
    }
</script>

</body>
</html>