<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <title>index</title>
</head>
<body>
<h2>{{ uik['name'] }}</h2>
Мест: {{ uik['places'] }}
<br>
Жителей: {{ uik['people'] }}
<br>
Распределено: {{ uik['generated'] }}
<br>

<form method="POST" action="/{{ uikkey }}">
    <button type="submit">Обработать</button>
</form>
<br>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>адрес</th>
        <th>Координаты</th>
        <th>места</th>
        <th>жителей</th>
    </tr>
    </thead>
    <tbody>
        {% for house in uik['houses'] %}
        <tr>
            <td>{{ house['i'] }}</td>
            <td>{{ house['address'] }}</td>
            <td><a href="https://maps.yandex.ru/?text={{ house['coords']['lat'] }},{{ house['coords']['lon'] }}">{{ house['coords'] }}</a></td>
            <td>{{ house['place'] }}</td>
            <td>{{ house['people'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>